button{
  background-color: rgba(0,0,0,0);
  border:none;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 20px;
}

button:hover{
  color:red;
  box-shadow: inset 0 0 10px black;
}

p{
  transition: 500ms;
  position: absolute;
  max-width: 20vw;
  text-align: left;
  color: rgba(0,0,0,.8);
  opacity: 1;
  top:50px;
}

.em{
  font-weight: 500;
  font-size: 24px;
  color:black;
}

.grades{
  padding:5px 10px;
  font-size: 18px;
}

.hidden{
  opacity: 0;
  top: -100px;
  z-index: -10;
}

.App {
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  gap:5vw;
  height:100vh;
}

.student-container{
  top:-100px;
  position: relative;
  max-width: 20vw;
  min-width: 20vw;
}